@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap');

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: 'Jost', sans-serif;
 list-style: none;
 text-decoration: none;
 scroll-behavior: smooth;
}

h2{
	text-align:center;
	font-size:150%;
	font-family:'Jost', sans-serif;
	margin-top:80px;
}

h4{
	font-style: italic;
}

form{
	text-align:center;
}

form input{
	height: 6vh;
	width: 30%;
}

:root{
 --bg-color:#FFFFFF;
 --text-color: rgb(12, 12, 12);
 --secound-color: #98AFC7;
 --main-color: #52595D;
 --big-font: 5rem;
 --h2-font: 3rem;
 --p-font:1.1rem;
}

header{
 
 width: 100%;
 height: 10%;
 top: 0;
 right: 0;
 z-index: 1000;
 display: flex;
 justify-content: space-between;
 background-color: var(--bg-color);
 padding: 30px 5%;
 transition:  .3s;
}

.logo img{
 max-width: 100%;
 width:150px;
 height: auto;
}

.navi{
 background-color: var(--text-color);
 width: 100%;
 display: inline-flex;
 justify-content: space-between;
}


.rightnav{
 height: 30px;
 display: flex;
}

.rightnav li{
 position: relative;
}

.rightnav a{
 
 font-size:var(--p-font);
 color: var(--bg-color);
 font-weight: 500;
 padding: 10px 27px;
}

.leftnav{
 font-size:var(--p-font);
 color: var(--bg-color);
 font-weight: 500;
 height: 30px;
 display: flex;
}

.leftnav i{
 width: 50px;
 height: 50px;
 font-size:2rem;
}
