@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap');
*{
	padding: 0;
	margin: 0:;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

:root{
	--bg-color:#FFFFFF;
	--text-color: #000;
	--secound-color: #98AFC7;
	--main-color: #52595D;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font:1.1rem;
}

header{
	
	width: 100%;
	height: 15%;
	top: 0;
	right: 0;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	background-color: var(--bg-color);
	padding: 30px 5%;
	transition:  .3s;
}
header img{
	
	width: 15%;
	height: auto;
	
}

.logo img{
	max-width: 100%;
	width:150px;
	height: auto;
}

.navi{
	background-color: var(--text-color);
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
}


.rightnav{
	height: 30px;
	display: flex;
}

.rightnav li{
	position: relative;
}

.rightnav a{
	
	font-size:var(--p-font);
	color: var(--bg-color);
	font-weight: 500;
	padding: 10px 27px;
}

.leftnav{
	font-size:var(--p-font);
	color: var(--bg-color);
	font-weight: 500;
	height: 30px;
	display: flex;
}

.leftnav i{
	width: 50px;
	height: 50px;
	font-size:2rem;
	color: var(--bg-color);
}

footer {
    background-color: black;
    width: 100%;
    padding: 3px;
    color: white;
    font-size: 15px;
}

.start {
	text-align: center;
}

.start h1{
	font-family: Times New Roman;
}

.start p{
	width:100%;
}

.registration-form
{
	background-position: center;
	position: absolute;
	left: 35%;
	width: 400px;
}

.registration-form input
{
	
	font-size: 16px;
	padding: 15px 10px;
	width:130%;
	border:0;
	border-radius: 5px;
	outline: none;
	
}

.registration-form button
{
	margin: right;
	padding: 10px 15px;
	width: 50%;
	font-weight: bold;
	border: 0;
	border-radius: 5px;
	background-color:#FFA09A ;
	margin-left: 80%;
}



.but{
	display: inline-flex;
	justify-content: space-between;
	width: 30%;
		
}

.start a{
	width: 120px;
	height: 50px;
	font-weight: bold;
	border: 50px;
	border-radius: 5px;
	background-color:#dfff80;
	padding: 15px 30px;
	color: black;
}

.logi{
	background-position: center;
	margin-left:34%;
	left: 35%;
	width: 400px;
}

.logi h1{
	
	font-size:150%;
	font-family: Times New Roman;
	margin-top:80px;
	text-align: center;
}


.logi input{
	font-size: 16px;
	padding: 15px 10px;
	width:100%;
	border:0;
	border-radius: 5px;
	outline: none;
}

.button{
	padding: 10px 15px;
	width: 50%;
	font-weight: bold;
	border: 0;
	border-radius: 5px;
	background-color:#dfff80;
}

.iklan{
	display: flex;
	text-align: center;
	justify-content: center;
	
}

.iklan .swiper{
	width:60%;
	height:auto;
	background-color: var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px;
}

.foot{
	bottom:0;
	background-color: var(--text-color);
	color: var(--bg-color);
	width: 100%;
	display: inline-flex;
	height: 50px;
	justify-content:center;
}


.foot li{
	position: relative;
}

.foot a{
	
	font-size:var(--p-font);
	color: var(--bg-color);
	font-weight: 500;
	padding: 10px 27px;
}

#cart-container {
	position: absolute;
}

#cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#cart-container table thead{
    font-weight: 700;
}

#cart-container table thead td{
    background: #bfaa8c;
    color: #000;
    border: none;
    padding: 6px 0;
}

#cart-container table td{
    border: 1px solid #0a0a0a;
    text-align: center;
}

#cart-container table td:nth-child(1){
    width: 100px;
}

#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3){
    width: 200px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6){
    width: 170px;
}

#cart-container table tbody img{
    width:100px;
    height: 80px;
}

#card-container table tbody i{
    color:#8d8c89;
}

#total-box{
    width: 250px;
    height: 230px;
    border: 1px solid black;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

#total-box h4{
    text-align: center;
}

#total-box h5{
    font-size: 20px;
    margin-top: 20px;

}

#check-btn{
    text-align: center;
    margin-top: 70px;
}

#feedbacks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.feedback-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #bfaa8c;
    color: #fff;
    padding: 10px 20px;
}

.feedback-box-containner{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.feedback-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile{
    display: flex;
    align-items: center;
}

.name-user{
    display: flex;
    flex-direction: column;
}

.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span{
    color: #979797;
    font-size: 0.8rem;
}


.reviews{
    color: #f9d71c;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer-feedback p{
    font-size: 0.9rem;
    color:#4b4b4b
}

.feedback-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media(max-width:1060px){
    .feedback-box{
        width:45%;
        padding: 10px;
    }
}

@media(max-width:70px){
    .feedback-box{
        width: 100%;
    }
    .feedback-heading h1{
        font-size: 1.4rem;
    }
}

@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}

::selection{
    color: aliceblue;
    background-color: #252525;
}