<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFunderServlet</servlet-name>
        <servlet-class>LoginFunderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFundServlet</servlet-name>
        <servlet-class>ListFundServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFundAdminServlet</servlet-name>
        <servlet-class>ListFundAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProjectServlet</servlet-name>
        <servlet-class>AddProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProjectServlet</servlet-name>
        <servlet-class>DeleteProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProjectServlet</servlet-name>
        <servlet-class>EditProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFundServlet</servlet-name>
        <servlet-class>CreateFundServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdminServlet</servlet-name>
        <servlet-class>HomeAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentServlet</servlet-name>
        <servlet-class>paymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardUserServlet</servlet-name>
        <servlet-class>DashboardUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardAdminServlet</servlet-name>
        <servlet-class>DashboardAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFunderServlet</servlet-name>
        <url-pattern>/LoginFunderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFundServlet</servlet-name>
        <url-pattern>/ListFundServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFundAdminServlet</servlet-name>
        <url-pattern>/ListFundAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProjectServlet</servlet-name>
        <url-pattern>/AddProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProjectServlet</servlet-name>
        <url-pattern>/DeleteProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProjectServlet</servlet-name>
        <url-pattern>/EditProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFundServlet</servlet-name>
        <url-pattern>/CreateFundServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdminServlet</servlet-name>
        <url-pattern>/HomeAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentServlet</servlet-name>
        <url-pattern>/paymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardUserServlet</servlet-name>
        <url-pattern>/DashboardUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardAdminServlet</servlet-name>
        <url-pattern>/DashboardAdminServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>loginUser.jsp</welcome-file>
    </welcome-file-list>
</web-app>
